*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
    background-color: yellow;
}

.smily{
    padding: 50px;
    background-color: rgba(41, 41, 41, 0.264);
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    margin-top: 40px;
}
.triangle{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    bottom: 130px;
    /* height: 200px;
    width: 200px;
    clip-path: polygon(50% 100%, 100% 100%, 0 0); */
    transform: rotate(180deg); 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 50px solid yellow;
    border-width:100px;

}
.below_div{
   
    margin-top: auto;
    height: 200px;
    width: 100%;
    background-color: red;
}